.login{
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color:#EFEFEF;
}
.login-form {
    width: 50%; /*largura*/
    height: 100%; /*altura*/
    display: flex;
    flex-direction: column;
    align-items: center; /*alinhamento na horizontal*/
    justify-content: center;
}

.banner-login{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form button {
    width: 100%;
    background-color: #00DF89;
    border: none;
    color: #ffffff;
    margin-top: 20px;
}

.form button:hover {
    border: none;
    color: #ffffff;
    transform: scale(1.02);
    transition: .2s;
}

@media screen and (max-width: 900px){
    .login{
        width: 100%;
        flex-direction: column; /*faz com que as div fiquem uma em cima e a outra abaixo*/
        align-items: center;
        justify-content: center;
    }

    .login-form{
        width: 100%;
    }

    .form{
     width: 80%;
     padding: 0px;
    }

    .banner-login h4 {
        font-size: 12px;
        text-align: center;
    }
   

}