
/*configuração padrão do navegador*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RobotoMono';
}
/*pára que dentro deles consiga setar elementos em %*/
html, body {
    height: 100%;
}

body {
    background-color: silver;
}